<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lbbe.busybird" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Busy Bird</name>
    <description>
        Une superbe app pour enregistrer des oiseaux
    </description>
    <author email="louis.beranger@etu.univ-lyon1.fr">
        Romuald Marin, Émilien N'Guyen, Louis Béranger
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="websecurity" value="disable" />
    <preference name="android-minSdkVersion" value="21" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="land-mdpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="land-hdpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="land-xxhdpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="land-xxxhdpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="port-ldpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="port-mdpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="port-hdpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/splash_screen.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/splash_screen.png" />
        <preference name="SplashMaintainAspectRatio" value="true" />
    </platform>
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <access origin="*" />
    <access origin="blob:" />
    <access origin="cdvfile://*" />
    <access origin="file:///*" />
    <allow-navigation href="projet.alkihis.fr/*" />
    <allow-navigation href="*" />
    <allow-navigation href="file://*" />
    <allow-navigation href="blob:" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="self" />
    <access origin="self" />
    <access origin="content:///*" />
    <allow-navigation href="content:///*" />
    <allow-navigation href="cdvfile://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access launch-external="yes" origin="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^7.1.4" />
    <engine name="browser" spec="^5.0.4" />
    <plugin name="cordova-plugin-battery-status" spec="~1.2.4" />
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
    <plugin name="cordova-plugin-media-capture" spec="1.4.3" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.3" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.7" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.5" />
    <plugin name="phonegap-plugin-speech-synthesis" spec="git+https://github.com/macdonst/SpeechSynthesisPlugin.git" />
    <plugin name="cordova-plugin-speechrecognition" spec="1.2.0" />
    <plugin name="cordova-plugin-file" spec="6.0.0" />
    <plugin name="cordova-plugin-media" spec="5.0.2" />
    <plugin name="phonegap-plugin-media-recorder" spec="1.1.0" />
    <plugin name="cordova-plugin-android-permissions" spec="1.0.0" />
    <plugin name="es6-promise-plugin" spec="4.2.2" />
    <plugin name="phonegap-plugin-media-stream" spec="1.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="git+https://github.com/apache/cordova-plugin-whitelist.git" />
    <plugin name="cordova-plugin-viewport" spec="1.0.3" />
    <plugin name="phonegap-plugin-mobile-accessibility" spec="https://github.com/phonegap/phonegap-mobile-accessibility.git" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
    <plugin name="cordova-plugin-multi-window" spec="0.0.3" />
    <plugin name="cordova-plugin-x-toast" spec="2.7.2" />
    <plugin name="cordova-plugin-background-fetch" spec="5.4.1" />
    <plugin name="cordova.plugins.diagnostic" spec="4.0.11" />
</widget>
