body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.footer-btn {
    color: rgb(215, 215, 255);
}

.page-footer {
    background-color: #43739e;
}

.valign-middle {
    vertical-align: middle;
}

.valign-bottom {
    vertical-align: bottom;
}

.clearb {
    clear: both;
}

.one-select-opt {
    padding: 5px 10px 15px 10px;
    margin: 10px 5px;
    border-radius: 12px;
    border: 1px rgba(165, 165, 165, 0.329) solid;
    background-color: rgba(232, 232, 232, 0.23);
}

.pointer {
    cursor: pointer;
}

.nopointer {
    cursor: inherit;
}

.delete-button {
    margin-right: 10px;
}

.divider-margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal.bottom-sheet {
    margin: auto;
    border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 663px) {
    .modal {
        width: 90%;
    }
}

.btn.big {
    height: 3rem;
    line-height: 3rem;
}

